{
  "printWidth": 100,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
